h1 {
    text-align: center;
    font-size: 3rem;
    font-family: Madimi One;
}

#submitButton {
    margin-top: 20px;
}

#myCheckbox {
    margin-left: 30px;
}

svg{
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.container{
    text-align: center;
    padding: 40px 70px 40px 70px;
}