
<div class="container">
    <h3 style="padding-top: 10px;padding-bottom: 10px;">Contact Us</h3>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" formControlName="name" class="form-control" />
      <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" class="error-message">
        Name is required
      </div>
    </div>
  
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" formControlName="email" class="form-control" />
      <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="error-message">
        Email is required and must be a valid email address
      </div>
    </div>
  
    <div class="form-group">
      <label for="message">Message</label>
      <textarea formControlName="message" class="form-control"></textarea>
    </div>
  
    <button type="submit" [disabled]="contactForm.invalid" class="btn btn-primary">Submit</button>
    <div *ngIf="showSuccess" class="success-message">
        <p style="color: green;">Your response is sent !</p>
        <!-- <img src="/src/assets/img/check.png" alt="Write Mark"> -->
    </div>
</form>
</div>