svg{
    margin-bottom: 50px;
    width: 300px;
    height: auto;
}

.container{
    text-align: center;
}

.nav{
    height: 40px;
    width: 100%;
    background-color: blueviolet;
    border-radius: 0px 0px 20px 20px;
}

.nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav ul li{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer{
    height: 40px;
    width: 100%;
    background-color: blueviolet;
    border-radius: 20px 20px 0px 0px;
    color: white;
}